# Hotel nights in Bern, Switzerland

Switzerland's national department of statistics publishes some [data about tourism](https://www.pxweb.bfs.admin.ch/default.aspx?px_language=de). I would like to look at the data about how many night were booked in hotels in and around the city Bern. 

I first downloaded [this dataset](https://www.pxweb.bfs.admin.ch/Table.aspx?layout=tableViewLayout2&px_tableid=px-x-1003020000_103%5cpx-x-1003020000_103.px&px_language=de&px_type=PX&px_db=px-x-1003020000_103&rxid=c38fb400-2d9f-4e7e-92eb-ef0d87d20b55). It was too complicated to work with, since there are too many dimensions. Therefor I went back and got a [simpler version](https://www.pxweb.bfs.admin.ch/Table.aspx?layout=tableViewLayout2&px_tableid=px-x-1003020000_103%5cpx-x-1003020000_103.px&px_language=de&px_type=PX&px_db=px-x-1003020000_103&rxid=4cced84d-5b26-476b-816c-f9519ff680ff) of the dataset that just lists the nights without the arrival and is restricted to one area. Later I had to go back again: I couldn't sum the values easily since the values were not in a row but in a line. And I first had to exclude the rows with the year and the month. I finally got the [this version](https://www.pxweb.bfs.admin.ch/Table.aspx?layout=tableViewLayout2&px_tableid=px-x-1003020000_103%5cpx-x-1003020000_103.px&px_language=de&px_type=PX&px_db=px-x-1003020000_103&rxid=b392530a-0bae-4841-8f7e-4cf528ec1cee) of the raw data. 

Since the file was encoded in ISO-8859 I had to convert it to UTF8 using the following linux command: iconv -f ISO-8859-1 tourism_bern.csv -t UTF8 -o tourism_bern_UTF8.csv. I then did some cleaning of the data in the spreadsheet before loading into Pandas.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Open your dataset up using pandas in a Jupyter notebook

In [2]:
df = pd.read_csv("tourism_bern_UTF8.csv", sep=";", header=0)

## Do a .head() to get a feel for your data

In [3]:
df.head()

,Herkunftsland,2005-01,2005-02,2005-03,2005-04,2005-05,2005-06,2005-07,2005-08,2005-09,...,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04
0,Schweiz,31656.0,29053.0,34611.0,38476.0,40227.0,43511.0,37236.0,45161.0,47092.0,...,41334.0,47883.0,48506.0,47865.0,45621.0,36398.0,32109.0,35313.0,39971.0,41498.0
1,Baltische Staaten,68.0,34.0,42.0,82.0,72.0,118.0,48.0,113.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Deutschland,8884.0,9102.0,10493.0,11352.0,12262.0,13971.0,14522.0,17403.0,14759.0,...,10641.0,12812.0,12333.0,12083.0,11426.0,8115.0,8043.0,9505.0,10878.0,9919.0
3,Frankreich,2001.0,1903.0,2034.0,2327.0,2026.0,2478.0,2503.0,3029.0,2179.0,...,2549.0,2399.0,1597.0,2136.0,1746.0,1892.0,1509.0,2049.0,1903.0,1863.0
4,Italien,1389.0,1146.0,1361.0,1779.0,1496.0,1857.0,1880.0,3220.0,2146.0,...,2306.0,3352.0,1632.0,1869.0,2320.0,3439.0,2418.0,1851.0,2126.0,2000.0

## Write down 12 questions to ask your data, or 12 things to hunt for in the data.

- How many nights did all tourists together book in hotels in the canton of Bern in the last month?
- Compare the last month to the corresponding month of the previous year.
- Make a histogram comparing the number of booked nights for the last five years.
- The Swiss spent the most nights in Bern's hotels. What country is the next to follow?
- A change in Switzerland's money policies did lead to a massive revaluation of the Swiss Franc in January 2015. Did less foreign tourists sleep in Hotels after? 
- Did the percentage of people from Switzerland increase after January 2015?
- What nations are avoiding Switzerland since January 2015 the most?
- In what month are the most and the least tourists around? 
- The parlament meets normally in XY, XY and XY. Are the hotels in this time more busy?
- Bern war one of the host cities during the soccer europe cup 2008. Did the hotels more guest than usually in this time?
- How many nights are selling the hotels in Bern per day in average? How many are they selling in high season in summer and winter?
- For what nation does the statistic show the biggest increase or decrease between 2010 and 2015?
- What's the percentage of the tourists coming from countries where German is not a official language?

### How many nights did all tourists together book in hotels in the canton of Bern in the last month?

Actually, the last month is not available yet. Let's stick to April then. But first, we'll have to do some housekeeping: We need to get rid of the three points in all cells without data. I tried it with df.replace("...","") but didn't suceed. Therefore I went back to the spreadsheet and did a quick replaced of the caracters there. I also merged the two date fields of every column into one.

In [4]:
april_2016 = df[['Herkunftsland', '2016-04']]
print("In April 2016, Bern's hotels did sell", int(april_2016['2016-04'].sum()), "overnight stays.")

In April 2016, Bern's hotels did sell 77111 overnight stays.

### Compare the last month to the corresponding month of the previous year.

In [5]:
print("In April 1015, Bern's hotels did sell", int(df['2015-04'].sum()), "overnight stays.")
if df['2016-04'].sum() > df['2015-04'].sum(): 
    print("The year 2016 was a better year for the Hotels than 2015. They did sell", df['2016-04'].sum() - df['2015-04'].sum(), "more nights.")
else:
    print("The year 2015 was better than 2016. The hotels sold", int(df['2015-04'].sum() - df['2016-04'].sum()), "more nights.")

In April 1015, Bern's hotels did sell 77316 overnight stays.
The year 2015 was better than 2016. The hotels sold 205 more nights.

### When took most tourists an overnight stop in Bern?

In [6]:
month_list = df.columns[1:]
best_month = month_list[0]

for month in month_list:
    if df[month].sum() > df[best_month].sum():
        best_month = month
print("The best month in the recent history of Berne's hotels was", best_month, "with", int(df[best_month].sum()), "booked nights.")

The best month in the recent history of Berne's hotels was 2014-08 with 119267 booked nights.

### What was the worst month in the recent history of Bern's hotels?

In [7]:
month_list = df.columns[1:]
worst_month = month_list[0]

for month in month_list:
    if df[month].sum() < df[best_month].sum():
        worst_month = month
print("The worst month in the recent history of Berne's hotels was", worst_month, "with", int(df[worst_month].sum()), "booked nights.")

The worst month in the recent history of Berne's hotels was 2016-04 with 77111 booked nights.

### From what five countries are coming the least person?
I am filling in a new column named "total" that contains the sums of the previous columns.

In [8]:
total = 0
df['Total'] = total # Resetting in order to be able to rerun the code without getting wrong values.
total = df.sum(axis=1)
df['Total'] = total
df.head(2)

df[['Herkunftsland', 'Total']].sort_values(by='Total').head(5)

   Herkunftsland   Total
41       Bahrain   766.0
26         Malta   977.0
27        Zypern  1314.0
59          Oman  1325.0
65       Litauen  2031.0

### The Swiss spent the most nights in Bern's hotels. People from what five other countries the are most important for the hotels?

In [9]:
df[['Herkunftsland', 'Total']].where(df['Herkunftsland'] != 'Schweiz').sort_values(by='Total', ascending=False).head(5)

                     Herkunftsland      Total
2                      Deutschland  1771343.0
29  Vereinigte Staaten von Amerika   426445.0
3                       Frankreich   297146.0
4                          Italien   296995.0
6           Vereinigtes KÃ¶nigreich   286842.0

### How many nights per year did guests from the US spend in Bern's hotels?

In [10]:
us_tourists = df[df['Herkunftsland'] == 'Vereinigte Staaten von Amerika']
years = [2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
months = ['01','02', '03', '04', '05','06', '07', '08', '09', '10','11', '12']
us = {}
for year in years:
    total = 0
    for month in months:
        total = total + int(us_tourists[str(year)+'-'+month])
    us[year] = total
    print("In the year", year, "there were", total, "overnight stays of US citizens.")

In the year 2005 there were 39009 overnight stays of US citizens.
In the year 2006 there were 40596 overnight stays of US citizens.
In the year 2007 there were 40863 overnight stays of US citizens.
In the year 2008 there were 39206 overnight stays of US citizens.
In the year 2009 there were 35370 overnight stays of US citizens.
In the year 2010 there were 36435 overnight stays of US citizens.
In the year 2011 there were 32023 overnight stays of US citizens.
In the year 2012 there were 34456 overnight stays of US citizens.
In the year 2013 there were 35811 overnight stays of US citizens.
In the year 2014 there were 38259 overnight stays of US citizens.
In the year 2015 there were 44627 overnight stays of US citizens.

### A change in Switzerland's money policies did lead to a strong revaluation of the Swiss Franc in January 2015. Did less foreign tourists sleep in Hotels after?

In [11]:
df[['Herkunftsland', 'Total']].where(df['Herkunftsland'] != 'Schweiz').sort_values(by='Total', ascending=False).head(5)

                     Herkunftsland      Total
2                      Deutschland  1771343.0
29  Vereinigte Staaten von Amerika   426445.0
3                       Frankreich   297146.0
4                          Italien   296995.0
6           Vereinigtes KÃ¶nigreich   286842.0

### Did the percentage of people from Switzerland increase after January 2015?

### What nations are avoiding Switzerland since January 2015 the most?

### The parlament meets normally in XY, XY and XY. Are the hotels in this time more busy?

### Bern war one of the host cities during the soccer europe cup 2008. Did the hotels more guest than usually in this time?

### In what month are the most and the least tourists around?

### How many nights are selling the hotels in Bern per day in average? How many are they selling in high season in summer and winter?

### For what nation does the statistic show the biggest increase or decrease between 2005 and 2015?

In [19]:
sum_ch = int(df[df['Herkunftsland'] == 'Schweiz']['2005-01']) + int(df[df['Herkunftsland'] == 'Schweiz']['2005-02'])
sum_ch

60709

### What's the percentage of the tourists coming from countries where German is not a official language?

## Make three charts with your dataset

### Make a histogram comparing the number of booked nights.

In [ ]:
summen = df.sum()

### Make a horizontal bar chart comparing all the origin of Berne's guests.

In [ ]:
df.plot(kind='barh', x='Herkunftsland', y=summen)

### Make a timeline for all nations showing how many nights their folks spent in Bern.

In [ ]:
all_sums = df.sum()